.about-place__title-container {
  display: flex;
  padding-block-start: 0;
  padding-block-end: 48px;
}

@media screen and (max-width: 320px) {
  .about-place__title-container {
    flex-direction: column;
    padding-block-end: 32px;
  }
}
