.footer__menu {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-block: 0;
  margin-inline: 0;
  padding-inline: 0;
  padding: 0;
  list-style: none;
  color: #ffffff;
}

@media screen and (max-width: 750px){
  .footer__menu {
    flex-direction: column;
  }

}
