.cover__subtitle {
  margin-block: 0;
  max-width: 360px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  z-index: 1;
  -webkit-font-smoothing: antialiased;
}


@media screen and (max-width: 320px) {

  .cover__subtitle {
    max-width: 288px;
    font-size: 14px;
    line-height: 16px;
  }

}
