.about-place__pic {
  width: 460px;
  height: 460px;
  object-fit: cover;
}

@media screen and (max-width: 1024px) {
  .about-place__pic {
    width: 440px;
    height: 440px;
  }
}

@media screen and (max-width: 900px) {
  .about-place__pic  {
    width: 340px;
    height: 340px;
  }
}

@media screen and (max-width: 680px) {
  .about-place__pic  {
    width: 100%;
  }
}

