.lead__pic-description {
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  padding: 0 0 92px;
  margin-block: 0;
  margin-inline: 0;
  -webkit-font-smoothing: antialiased;
}

@media (max-width: 768px) {
  .lead__pic-description {
    padding: 0 0 88px 24px;
  }
}

@media screen and (max-width: 320px) {
  .lead__pic-description {
    padding: 0 0 64px 16px;
  }
}
