.footer__link {
  font-family: Inter;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
  text-decoration: none;
  padding-inline-start: 18px;
  -webkit-font-smoothing: antialiased;
}

.footer__link:hover {
  opacity: .8;
}

.footer__link:first-child {
  padding-inline-start: 0;
}

.footer__link:hover {
  text-decoration: underline;
}

@media screen and (max-width: 750px){
  .footer__link {
    padding-block-end: 32px;
    padding-inline-start: 0;
    font-size: 24px;
    line-height: 24px;
  }

  .footer__link:last-child {
    padding-block-end: 48px;
  }
}
