.lead__title {
  text-align: center;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  max-width: 720px;
  margin: 0;
  margin-block: 0;
  margin-inline: auto;
  padding: 0 0 32px;
  -webkit-font-smoothing: antialiased;
}

@media screen and (max-width: 750px) {
  .lead__title {
    font-size: 40px;
    line-height: 44px;
    padding: 0 0 16px;
  }
}

/* @media screen and (max-width: 470px) {
  .lead__title {
    font-size: 50px;
    line-height: 44px;
    padding: 0 0 16px;
  }
} */

/* @media screen and (max-width: 470px) {
  .lead__title {
    font-size: 40px;
    line-height: 44px;
    padding: 0 0 16px;
  }
} */
