.photo-gallery__pic {
  max-height: 213px;
  object-fit: contain;
}

@media screen and (max-width: 1279px) {

  .photo-gallery__pic {
    max-height: 225px;
    width: 100%;
    object-fit: cover;
  }
}
