.about-place__paragraph {
  margin-block: 0;
  margin-inline: 0;
  padding-inline-start: 40px;
  padding-block-end: 26px;
  font-family: Inter;
  font-weight: normal;
  font-size: 18px;
  line-height: 29px;
  color: #FFFFFF;
}
