.about-place__link-title {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: .2em;
  color: #aaaaaa;
  margin-block: 0;
  margin-inline: 0;
  padding-block-end: 12px;
  -webkit-font-smoothing: antialiased;
  text-transform: uppercase;
}
