.cover__background {
  background: url(../../../images/cover-trains.jpg);
  width: 1184px;
  height: 740px;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
