.cover__title {
  padding-block-end: 32px;
  margin-block: 0;
  max-width: 560px;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  color: #FFFFFF;
  text-align: center;
  z-index: 1;
  -webkit-font-smoothing: antialiased;
}


@media screen and (max-width: 320px) {

  .cover__title {
    max-width: 288px;
    padding-block-end: 16px;
    font-size: 32px;
    line-height: 35px;
  }

}
