.intro__title {
  font-size: 54px;
  line-height: 58px;
  color: #ffffff;
  font-weight: 900;
  font-family: Inter, Arial, Helvetica, sans-serif;
  margin-block: 0;
  margin-inline: 0;
  padding: 0 0 40px;
}

@media screen and (max-width: 320px) {
  .intro__title  {
    padding: 0 0 40px;
    font-size: 32px;
    line-height: 35px;
  }
}
